
<div class="reservation-form mb-4 mt-4">
    <div class="container">
        <h2>Hacer una reserva</h2>
        <div class="alert alert-danger" *ngIf="errorDoingBooking" >
            Error al hacer la reserva
        </div>
        <div class="alert alert-primary" *ngIf="bookingDone" >
            Reserva hecha correctamente
        </div>
        <form [formGroup]="reservationForm" (ngSubmit)="makeReservation($event)">
            <div class="row">
                <div class="col-6">
                    <label for="startDate">Fecha de inicio</label>
                    <input formControlName="startDate" class="form-control" type="datetime-local" name="startDate" id="startDate">
                </div>
                <div class="col-6">
                    <label for="endDate">Fecha de final</label>
                    <input formControlName="endDate" class="form-control" type="datetime-local" name="endDate" id="endDate">
                </div>

            </div>
            <div class="row" *ngIf="!selectedTable">
                <div class="col-6">
                    <label for="tableSize">Tamaño de mesa</label>
                    <select formControlName="table" class="form-control" name="tableSize" id="tableSize" [disabled]="selectedTable == null">
                        <option [value]="table.id" *ngFor="let table of tables | async">Mesa {{table.id}} - {{table.width}} x {{table.height}}</option>
                        

                    </select>
                </div>
                <div class="col-6" >
                    <label for="game">Selecciona el juego</label>
                    <select formControlName="game" class="form-control" name="game" id="game" (change)="selectTableForAGame()">
                        <option [value]="game.id" *ngFor="let game of games | async">{{game.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row" *ngIf="selectedTable">
                <div class="col-12">
                    <div class="p-4">
                        <span>Quieres reservar la mesa {{selectedTable.id}} de {{selectedTable.width}}x{{selectedTable.height}} </span>
                        <button class="btn btn-danger" (click)="handleCancelSelectedTable()">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <button class="btn btn-primary">Reservar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template>

</ng-template>