    <div class="reservation-container" #reservationFormContainer>
        <div class="reservation-form mb-4 mt-4">
            <div class="container">
                <h2>Consultar mesas</h2>
                <form>
                    <label for="¿En que momento quieres consultar el estado de las mesas?"></label>
                    <input type="datetime-local" class="form-control" (change)="updateDate($event)">
                </form>
            </div>
        </div>
            
        <app-reservation-form  [selectedTable]="selectedTable" (cancelSelectedTable)="handeCancelSelectedTable()" ></app-reservation-form>
    </div>
    <div class="tables-section container">
        <h2>Mesas de juego</h2>

        <div class="tables-section-grid">
            <app-table [showIfIsReserved]="true" [table]="table" *ngFor="let table of tables" (click)="selectTable(table)"></app-table>
        </div>

    </div>
