

<div class="game-form">
    <div class="container">
        <h3>Crear nueva mesa</h3>
        <form>
            <div class="row">
                <div class="col-6">
                    <label for="tableWidth">Ancho de la mesa</label>
                    <input type="text" class="form-control" id="tableWidth">
                </div>
                <div class="col-6">
                    <label for="tableWidth">Alto de la mesa</label>
                    <input type="text" class="form-control" id="tableHeight">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" value="Añadir" class="btn btn-primary mt-3 mb-3">
                </div>
            </div>

        </form>
    </div>
</div>

