<div class="admin-page">

    <app-nav></app-nav>
    
    <h2>Administración</h2>

    <div>
        <app-game-form></app-game-form>
    </div>
    <div>
        <app-game-search (searchString)="onGameSearch($event)"></app-game-search>
    </div>
    <div>
        <app-game-list [games]="(games | async) ?? [] | gameSearch:searchStr" ></app-game-list>
    </div>
    <div>
        <app-table-form></app-table-form>
    </div>
    <div class="tables-section">
        <div class="container tables-section-grid">
            <app-table [showIfIsReserved]="false" [table]="table" *ngFor="let table of (tables | async)" (click)="showDialog(table)"></app-table>
        </div>
    </div>
    <!-- <div class="users-section">
        <app-generic-table title="Usuarios" [data]="partners"></app-generic-table>
    </div> -->

    <dialog  #deleteTableModal>
        <h2>Eliminar mesa </h2>
        
        <button class="btn btn-info m-2ks" (click)="closeDialog()">Cerrar</button>
        <button class="btn btn-danger m-2" (click)="removeTable()">Eliminar</button>
      </dialog>


</div>


<app-footer creatorName="Jose Luis 19" creationDate="07/02/2024" legalInformationLink="#" accesibilityLink="#"></app-footer>