<div class="admin-page">

    <app-nav></app-nav>
    
    <h2>Administración</h2>

    <div>
        <app-game-form></app-game-form>
    </div>
    <div>
        <app-game-search (searchString)="onGameSearch($event)"></app-game-search>
    </div>
    <div>
        <app-game-list [games]="games | gameSearch:searchStr" ></app-game-list>
    </div>
    <div>
        <app-table-form></app-table-form>
    </div>
    <div class="tables-section">
        <div class="container">
            <app-reservation [tables]="tables"></app-reservation>
        </div>
    </div>
    <div class="users-section">
        <app-generic-table title="Usuarios" [data]="partners"></app-generic-table>
    </div>




</div>


<app-footer creatorName="Jose Luis 19" creationDate="07/02/2024" legalInformationLink="#" accesibilityLink="#"></app-footer>