

<div class="game-form">
    <div class="container">
        <h3>Crear muevo juego</h3>
        <form>
            <div class="row">
                <div class="col-12">
                    <label for="gameName">Nombre del juego</label>
                    <input type="text" class="form-control" id="gameName">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="minPlayers">Mínimo de jugadores</label>
                    <input type="text" class="form-control" id="minPlayers">
                </div>
                <div class="col-6">
                    <label for="maxPlayers">Máximo de jugadores</label>
                    <input type="text" class="form-control" id="maxPlayers">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="widthNeeded">Ancho del tablero</label>
                    <input type="text" class="form-control" id="widthNeeded">
                </div>
                <div class="col-6">
                    <label for="heightNeeded">Alto del tablero</label>
                    <input type="text" class="form-control" id="heightNeeded">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary mt-3 mb-3">Añadir</button>
                </div>
            </div>
        </form>
    </div>
</div>

