
<div class="booking-page">
    
    <div class="reservation-container">
        
        <app-reservation-form></app-reservation-form>
    </div>
    <div class="tables-section container">
        <h2>Mesas de juego</h2>

        <div class="tables-section-grid">
            <app-table [table]="table" *ngFor="let table of tables"></app-table>
        </div>

    </div>
</div>


<app-footer creatorName="Jose Luis 19" creationDate="07/02/2024" legalInformationLink="#" accesibilityLink="#"></app-footer>
